* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem 0;
    width: 20%;
    height: 100%;
    background-color: #111827;
    color: #fff;
}
main {
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
    height: 100%;
    background-color: #64748B;
}
.admin-title {
    color: #fff;
    border: 2px solid red;
    padding: 1rem;
    border-radius: 10px;
}

#title-pseudo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 1rem;
}
#side-infos{
    gap: 1rem;
    font-size: .8em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#logout{
    text-decoration: none;
    color: #fff;
    background-color: red;
    padding: 1rem;
    border-radius: 10px;
}

#messages-form{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
}
#messages-form input[type="text"]{
    width: 90%;
    height: 5rem;
    font-size: 1.2em;
    padding: 0 1rem;
}
#messages-form input[type="submit"]{
    width: 10%;
    height: 5rem;
    border: none;
    background-color: #111827;
    color: #fff;
    cursor: pointer;
    border: 1px solid #111827;
    font-size: 1.2em;
    padding: 0 1rem;
    transition: .2s;
}
#messages-form input[type="submit"]:hover{
    background-color: #111;
}